{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{# NOT IN REGISTRATION TEMPLATE - START #}
    {% for message in app.flashes('success') %}
        <section class="flash-error"><p>{{ message }}</p></section>
    {% endfor %}
{# NOT IN REGISTRATION TEMPLATE - END #}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
